.hero-container {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-top: 140px;
  }
  
  .forside-divider {
    width: 60px;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
    margin: auto;
  }
  
  .inf-h1 {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 32px;
    padding-top: 10px;
    color: var(--softBlack);
  }
  
  .inf-h2 {
    font-family: CircularBook;
    font-weight: 100;
    font-size: 17px;
    color: var(--softBlack);
  }
  
  .inf-p {
    font-family: CircularLight;
    font-weight: 100;
    opacity: 0.7;
    font-size: 15px;
    padding-top: 10px;
    color: var(--softBlack);
  }
  
  .inf-container {
    padding-top: 20px;
  }
  
  .inf-con-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  
  .inf-element {
    padding: 20px;
    width: 35%;
    max-width: 500px;
    min-width: 250px;
    text-align: left;
  }
  
  .inf-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .inf-logo {
    width: 38px;
    box-shadow: 0px 5px 10px 0px rgba(61, 109, 235,0.5);
    height: 38px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary);
  }
  
  .inf-logo svg {
    fill: #fff;
  }
  
  .hero-text {
    z-index: 6;
    opacity: 1;
    transform: scale(1);
    float: none;
    position: block;
  }
  
  .hero-divider {
    height: 2px;
    width: clamp(60px, 5vw, 70px);
    background-color: #4a545e;
    margin: 15px auto;
    margin-bottom: 22px !important;
  }
  
  .hero-info {
    margin-top: 45px;
  }
  
  .hero-info-block {
    display: inline-block;
    padding: 0px 35px;
  }
  
  .hero-info-block-h1 {
    color: #292929;
    font-size: clamp(32px, 5vw, 44px);
    font-family: CircularBook;
  }
  
  .hero-info-block-h1 span {
    color: #292929;
    font-size: clamp(32px, 5vw, 44px);
    font-family: CircularBook;
  }
  
  .hero-info-block-h2 {
    color: #566578;
    font-size: clamp(10px, 2vw, 13px);
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .hero-info-block-h2 span {
    color: #566578;
    font-size: clamp(10px, 2vw, 13px);
    font-family: Open Sans;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .hero-figures {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 70px;
    padding-left: 1%;
    padding-right: 6%;
    user-select: none;
    z-index: -1;
  }
  
  .redFigure {
    float: left;
    border-radius: 500px;
  }
  
  .blueFigure {
    float: right;
    margin-top: 10px;
    border-radius: 500px;
  }
  
  .blackCircle {
    width: 350vh;
    height: 1205px;
    background-color: var(--black);
    border-radius: 50%;
    position: absolute;
    bottom: -1070px;
    left: -77vh;
  }
  
  .nl-container {
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--surface);
  }
  
  .section-nyheder-table {
    background-color: #fff;
    padding: 100px 20%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-direction: row;
    gap: 40px;
  }
  
  .section-nyheder-kupon {
    padding: 100px 20%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-direction: row;
  }
  
  .ny-kupon-left {
    margin-top: 40px;
  }
  
  .ny-kupon-h2 {
    font-size: 14px;
    font-family: CircularBook;
    font-weight: 100;
    color: var(--softBlack);
    opacity: 0.7;
  }
  
  .ny-kupon-h1 {
    font-size: clamp(25px, 5vw, 40px);
    font-family: CircularBook;
    font-weight: 100;
    color: var(--softBlack);
    margin-top: 5px;
    line-height: clamp(35px, 5vw, 50px);
  }
  
  .ny-kupon-p {
    font-size: clamp(12px, 3vw, 16px);
    font-family: CircularLight;
    font-weight: 100;
    color: var(--softBlack);
    margin-top: 10px;
  }
  
  .ny-kupon-a {
    font-size: clamp(12px, 3vw, 16px);
    font-family: CircularLight;
    font-weight: 100;
    margin-top: 5px;
    cursor: pointer;
    color: var(--primary);
    width: 200px;
  }
  
  .ny-kupon-a:hover {
    text-decoration: underline;
  }
  
  .nyheder-kupon {
    display: inline-block;
    transition: 0.3s;
    background-color: #fff;
    border-top: 4px var(--primary) solid;
    border-radius: 2px;
    width: 270px;
    vertical-align: top;
    transform: rotate(2deg) skewX(-1deg);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
  }
  
  .section-bet {
    fill: var(--black);
  }
  
  .blackSection {
    height: 30px;
    background-color: var(--black);
    width: 100%;
  }
  
  .hero-help {
    width: 80%;
    margin: auto;
    margin-top: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  }
  
  .forside-section {
    width: 100%;
    background-color: #fff;
    padding: 100px clamp(40px, 4vw, 100px);
    text-align: center;
  }
  
  .forside-black-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--kul);
    padding: 100px clamp(40px, 4vw, 100px);
  }
  
  .priser-black-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--kul);
    padding: 100px clamp(40px, 4vw, 100px);
    display: flex;
    flex-direction: row;
  }
  
  .forside-text {
    z-index: 1;
    padding-left: 3%;
    position: relative;
    display: block;
    opacity: 1;
  }
  
  .fsection-elements {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
  }
  
  .fsection-element {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: clamp(250px, 30vw, 500px);
    border-radius: 3px;
    padding: 25px 40px;
    transition: 0.2s;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
  }
  
  .fsection-element:hover {
    transform: scale(1.03);
    cursor:default;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.07);
  }
  
  .fsection-h1 {
    font-size: clamp(30px, 5vw, 46px);
    color: var(--black);
    font-weight: 100;
    padding-bottom: 10px;
    font-family: CircularMedium;
  }
  
  .fsection-h3 {
    font-size: 17px;
    color: var(--softBlack);
    font-weight: 100;
    font-family: CircularLight;
    padding-bottom: 45px;
  }
  
  .fsection-h4 {
    font-size: clamp(23px, 4vw, 25px);
    color: var(--black);
    font-weight: 100;
    padding-bottom: 10px;
    font-family: CircularMedium;
  }

  .forside-figure {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
  
  .forside-figure .info-figure1 {
    width: 450px !important;
    height: 40px;
    bottom: 70px;
    right: -600px;
    transform: skew(-17deg) rotate(-17deg) scale(2) !important;
  }
  
  .forside-figure .info-figure2 {
    width: 150px !important;
    height: 40px;
    bottom: 85px;
    z-index: 1;
    right: -350px;
    transform: skew(-17deg) rotate(-17deg) scale(2) !important;
  }

  .info-figure1 {
    background-color: var(--primary);
    width: 400px;
    margin: 0px auto;
    position: absolute;
    height: 50px;
    opacity: 0.7;
    bottom: 20px;
    z-index: 3;
    left: 50px;
    transform: skew(-20deg) rotate(-20deg);
  }

  .stage-live-pulse {
    border-radius: 50%;
    background-color: var(--primary);
    margin: 10px;
    height: 12px;
    width: 12px;
    box-shadow: 0 0 0 0 rgba(61, 109, 235, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    position: absolute;
    right: 20px;
    top: 0px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(61, 109, 235, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 8px rgba(61, 109, 235, 0);
    }
    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(61, 109, 235, 0);
    }
  }
  
  .info-figure2 {
    background-color: var(--secondary);
    width: 200px;
    z-index: 2;
    margin: 0px auto;
    height: 50px;
    opacity: 0.8;
    position: absolute;
    bottom: 35px;
    transform: skew(-20deg) rotate(-20deg);
    left: 110px;
  }

  .info-figure {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 400px;
  }

  .profil-figure {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 400px;
  }
  
  .fsection-img {
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
    fill: var(--primary);
  }
  
  .fsection-h5 {
    font-size: clamp(14px, 3vw, 15px);
    color: var(--primary);
    font-weight: 100;
    padding-bottom: 15px;
    font-family: CircularMedium;
  }
  
  .fsection-p {
    font-size: clamp(14px, 3vw, 15px);
    color: var(--softBlack);
    font-weight: 100;
    font-family: CircularLight;
    padding-bottom: 10px;
  }
  
  .fsection-a:hover {
    opacity: 1;
  }
  
  .fsection-a {
    font-size: clamp(14px, 3vw, 15px);
    color: var(--primary);
    font-weight: 100;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
    font-family: CircularLight;
  }
  
  .help-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .tp-img {
    height: 23px;
    cursor: pointer;
  }
  
  .tp-stars {
    height: 5vw;
    min-height: 30px;
    max-height: 60px;
    margin-top: 20px;
  }
  
  .tp-p {
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: 100;
  }
  
  .tp-h1 {
    font-size: 28px;
    font-weight: 100;
    color: #fff;
    padding-top: 20px;
    font-family: CircularLight;
  }
  
  .tp-h2 {
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    color: #7980b2;
    padding-top: 5px;
    font-family: CircularLight;
  }
  
  .tp-h2:hover {
    text-decoration: underline;
  }
  
  .forside-black-h3 {
    font-family: Inter;
    position: relative;
    font-size: 15px;
    color: var(--onBlack);
    font-weight: 400;
  }
  
  .forside-black-h3 .stage-live-pulse {
    top: -13px !important;
    right: -27px !important;
  }
  
  .forside-black-top {
    display: flex;
    align-items: center;
    gap: 10px;
    width: inherit;
  }
  
  .forside-black-divider {
    width: 60px;
    height: 1px;
    background-color: var(--onBlack);
    border-radius: 1px;
  }
  
  .forside-black-p {
    font-family: Inter;
    font-size: 16px;
    color: #fff;
    opacity: 0.8;
    font-weight: 400;
    max-width: 500px;
  }
  
  .forside-black-section .info-figure {
    display: none;
  }
  
  .forside-black-h1 {
    font-family: Inter;
    line-height: 60px;
    font-size: 54px;
    position: relative;
    color: #fff;
    padding-bottom: 20px;
    font-weight: 600;
    display: inline-flex;
  }
  
  .help-container {
    background-color: var(--kul);
    width: 100%;
    padding: 30px;
    border-radius: 4px;
  }
  
  .ny-window {
    background-color: #fff;
    border-radius: 5px;
    height: 265px;
    transform: rotate(2deg) skewX(-1deg);
    box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.07);
  }
  
  .section-offer {
    background-color: #3d6eeb2d;
    padding: 25px 4vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
  }
  
  .offer-p {
    font-family: CircularBook;
    font-weight: 100;
    font-size: clamp(13px, 2vw, 16px);
    color: var(--primary);
    padding-bottom: 3px;
    border-bottom: 1px transparent solid;
  }
  
  .plan-container {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
  }
  
  .plan-h1 {
    font-size: clamp(20px, 5vw, 38px);
    padding: 0 3vw;
    font-family: CircularLight;
    font-weight: 100;
    color: #fff;
  }
  
  .plan-h2 {
    font-size: clamp(12px, 3vw, 17px);
    text-align: center;
    font-family: CircularLight;
    font-weight: 100;
    color: #fff;
    padding: 0 3vw;
    max-width: 100%;
    opacity: 0.7;
    margin-top: 5px;
  }
  
  .main-btn-white {
    padding: 10px 40px;
    margin-top: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px #fff solid;
    background-color: transparent;
    transition: 0.2s;
  }
  
  .main-btn-white:hover {
    transform: scale(1.05);
    color: var(--primary);
    background-color: #fff;
  }
  
  .section-offer:hover .offer-p {
    border-bottom: 1px var(--primary) solid;
  }
  
  .section-offer:hover .offer-icon {
    border-bottom: 1px var(--primary) solid;
  }
  
  .offer-icon {
    width: 25px;
    border-bottom: 1px transparent solid;
    height: 25px;
    fill: var(--primary);
  }
  
  .window-image {
    width: 450px;
  }
  
  .ny-window-dot {
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }
  
  .ny-window-top {
    padding: 7px 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: var(--blackAccent);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .nl-h1 {
    font-size: 42px;
    font-family: CircularLight;
    font-weight: 100;
    color: var(--softBlack);
  }
  
  .nl-h2 {
    font-size: 17px;
    text-align: center;
    font-family: CircularLight;
    font-weight: 100;
    color: var(--softBlack);
    opacity: 0.7;
    margin-top: 15px;
  }
  
  .section-liga {
    width: 100%;
    height: 620px;
    background-color: #fff;
  }
  
  .section-price {
    width: 100%;
    margin-top: -330px;
    padding-bottom: 50px;
  }
  
  .section-price-small {
    width: 100%;
    min-height: 625px;
    padding-bottom: 100px;
    background-color: var(--surface);
  }
  
  .main-forside-component {
    padding-top: 75px;
    text-align: center;
  }
  
  .main-forside-component-h2 {
    color: var(--onBackground);
    font-size: 47px;
    font-family: CircularBold;
    opacity: 0.95;
  }
  
  .main-forside-component-divider {
    height: 2px;
    width: 70px;
    background-color: var(--primary);
    margin: 0px auto;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }
  
  .main-forside-component-h3 {
    color: var(--onBackground);
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 400;
    opacity: 0.75;
  }
  
  .liga-container {
    text-align: center;
    margin-top: 70px;
  }
  
  .liga-element {
    background-color: #fff;
    width: 160px;
    display: inline-block;
    margin: 0px 35px;
    box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.09);
    border-radius: 2px;
  }
  
  .liga-element-bottom {
    height: 80px;
    width: 100%;
    background-color: #f0f1ef;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .liga-element-top {
    height: 170px;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-top: 35px;
  }
  
  .liga {
    height: 90px;
    margin: 10px auto;
  }
  
  .liga-land {
    border-radius: 5px;
    width: 45px;
    height: 30px;
    opacity: 0.9;
    margin: auto;
    margin-top: 25px;
  }
  
  .plan-main {
    width: 450px !important;
    height: 560px !important;
    background-color: var(--black) !important;
    margin-top: -40px !important;
  }
  
  .plan-main-id {
    color: var(--primary) !important;
  }
  
  .plan-main-desc {
    color: #e2ebfb !important;
    opacity: 0.8 !important;
    font-weight: 100 !important;
  }
  
  .plan-main-binding {
    color: #e2ebfb !important;
    opacity: 0.8 !important;
    font-weight: 100 !important;
  }
  
  .plan-main-p {
    color: #e2ebfb !important;
    opacity: 0.8 !important;
  }
  
  .plan-main-h1 {
    color: #fff !important;
  }
  
  .plans-container {
    text-align: center;
    display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .cursive-cta {
    color: var(--primary);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Shadows into light', cursive;
    animation: 1000ms ease 0s 1 normal none running fadeIn;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  .cursive-arrow {
    width: 30px;
    animation: 1000ms ease 0s 1 normal none running fadeInRotate;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-top: 10px;
    transform: rotate(-90deg);
  }
  
  .standard2 {
    background-color: var(--primary) !important;
  }
  
  .plan-element {
    width: clamp(237px, 35vw, 400px);
    vertical-align: top;
    background-color: #fff;
    box-shadow: 0px 3px 15px rgb(39, 40, 45, 0.09);
    border-radius: 3px;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 30px 30px;
  }
  
  .billet-element {
    width: clamp(200px, 30vw, 355px);
    vertical-align: top;
    background-color: #141416;
    border-radius: 7px;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 30px;
  }
  
  .billet-element .plan-element-identifier {
    color: #fff !important;
    opacity: 0.5;
    font-family: Inter;
    font-weight: 400;
    font-size: 13px;
  }
  
  .billet-element .plan-element-pris {
    color: #fff !important;
    font-family: Inter;
    font-weight: 500;
    font-size: 28px;
    text-align: left;
  }
  
  .billet-pris-con {
    display: flex;
    gap: 3px;
    align-items: flex-end;
    justify-content: flex-start;
  }
  
  .billet-element-pris {
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 54px;
  }
  
  .billet-element-per {
    color: #fff;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .billet-desc {
    color: var(--onBlack);
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
  
  .billet-element .plan-element-desc {
    color: #fff !important;
    font-family: Inter;
    opacity: 0.7;
    font-weight: 400;
    padding-top: 15px;
  }
  
  .billet-element .plan-element-top {
    height: 130px;
  } 
  
  .billet-element .plan-element-divider {
    background-color: #fff;
    opacity: 0.1;
  }
  
  .billet-element .plan-element-perk-desc {
    color: #fff !important;
    font-family: Inter;
    opacity: 0.8;
    font-weight: 500;
  }
  
  .plan-element-tag {
    padding: 6px 17px;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    border-radius: 50px;
    border: 0px;
    cursor: pointer;
    background-color: var(--primary);
    transition: 0.2s;
    top: 20px;
    right: 20px;
    position: absolute;
  }
  
  .plan-element-identifier {
    font-size: clamp(13px, 1.5vw, 17px);
    color: var(--black);
    font-family: CircularBook;
    text-align: center;
  }
  
  .plan-element-pris {
    font-size: clamp(35px, 4vw, 48px);
    color: var(--primary);
    font-family: CircularBlack;
    text-align: center;
  }
  
  .plan-element-binding {
    font-size: clamp(12px, 1.5vw, 16px);
    opacity: 0.7;
    text-align: center;
    color: var(--softBlack);
    font-family: CircularLight;
    font-weight: 100;
    margin-top: -8px;
  }
  
  .plan-element-desc {
    font-size: 14px;
    opacity: 0.7;
    color: var(--onBackground);
    font-family: CircularBook;
    display: inline-block;
    font-weight: 100;
    padding: 10px 0px;
  }
  
  .plan-element-divider {
    background-color: #dadefa;
    height: 2px;
    opacity: 0.5;
    border-radius: 2px;
    width: 100%;
    margin: 15px 0px;
  }
  
  .plan-element-perks {
    padding-bottom: 20px;
  }
  
  .plan-main-perks {
    padding-bottom: 20px;
    height: 270px;
  }
  
  .plan-btn {
    width: 100% !important;
  }
  
  .plan-element-perk {
    padding: 5px 0px;
  }
  
  .plan-element-perk-off {
    padding: 5px 0px;
    opacity: 0.3;
  }
  
  .plan-element-perk-icon {
    width: clamp(15px, 2.5vw, 25px);
    height: clamp(15px, 2.5vw, 25px);
    fill: var(--green);
    display: inline-block;
    vertical-align: top;
  }
  
  .plan-element-perk-desc {
    display: inline-block;
    font-size: clamp(10px, 1.5vw, 14px);
    font-family: Montserrat;
    font-weight: 600;
    vertical-align: top;
    margin-top: 3.5px;
    margin-left: 10px;
    color: var(--onBackground);
    opacity: 0.9;
  }
  
  .plan-funktioner {
    width: 100%;
    padding: 0px 15%;
    margin: 50px 0px;
    margin-top: 100px;
  }
  
  .plan-func-top {
    width: 100%;
    padding: 12px 20px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: var(--primary);
  }
  
  .plan-func-h1 {
    font-family: CircularBook;
    color: #fff;
    font-weight: 100;
    font-size: 17px;
  }
  
  .plan-func-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--surface);
  }
  
  .plan-el-desc {
    width: 50%;
    min-width: 253px;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(60, 66, 87,0.15);
  }
  
  .plan-func-h2 {
    font-family: CircularBook;
    color: var(--softBlack);
    font-weight: 100;
    font-size: 15px;
  }
  
  .plan-func-p {
    font-family: CircularLight;
    color: var(--softBlack);
    font-weight: 100;
    font-size: 15px;
  }
  
  .plan-func-h3 {
    font-family: CircularBook;
    color: var(--softBlack);
    font-weight: 100;
    font-size: 15px;
  }
  
  .plan-func-h4 {
    font-family: CircularLight;
    color: var(--softBlack);
    font-weight: 100;
    font-size: 13px;
  }
  
  .plan-el-1 {
    width: 30%;
    min-width: 154px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid rgb(60, 66, 87,0.15);
    border-top: 0px;
  }
  
  .plan-funktioner {
    min-width: 564px;
  }
  
  .plan-define {
    min-width: 564px;
  }
  
  .plan-func-content {
    min-width: 564px;
  }
  
  .plan-el-2 {
    width: 30%;
    padding: 10px 20px;
    min-width: 154px;
    text-align: center;
    border-bottom: 1px solid rgb(60, 66, 87,0.15);
  }
  
  .plan-define {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .plan-define-block1 {
    width: 27.5%;
    text-align: center;
    padding: 15px 20px;
    background-color: var(--surface);
    border-top-left-radius: 3px;
  }
  
  .plan-define-block2 {
    width: 27.5%;
    text-align: center;
    padding: 15px 20px;
    background-color: var(--surface);
    border-top-right-radius: 3px;
  }