@media only screen and (max-width: 1588px) {
  #table-av {
    display: none !important;
  }
  #table-av-data {
    display: none !important;
  }
}

@media only screen and (max-width: 1400px) {
  .priser-black-section {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .priser-black-section .forside-black-p {
    text-align: center !important;
  }
  .priser-black-section .forside-black-top {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .priser-black-section .forside-black-p {
    max-width: inherit !important;
  }
  .forside-section .forside-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  #pbs-btn {
    margin: 20px auto !important;
  }
}

@media only screen and (max-width: 1355px) {
  #kampe2 {
    display: none !important;
  }
  .team-indhold {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1290px) {
  #table-anv {
    display: none !important;
  }
  #table-anv-data {
    display: none !important;
  }
}

@media only screen and (max-width: 1275px) {
  .stage-main-small-section-con {
    display: none !important;
  }
  .stage-main-section {
    width: 100% !important;
  }
  .stage-main-matches {
    width: 100% !important;
  }
  #footer-nyhedsbrev {
    display: none !important;
  }
  #faqside {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .noti-main {
    padding: 50px 15% !important;
  }
  .billet-element {
    width: clamp(355px, 40vw, 500px) !important;
  }
}

@media only screen and (max-width: 1080px) {
  .match-info-con {
    flex-direction: column !important;
  }
  .match-info-sections {
    width: 100% !important;
  }
  .match-info-half {
    width: 100% !important;
  }
  .match-info-half-2 {
    padding: 20px !important;
  }
  .sq-section {
    width: 100% !important;
    gap: 5% !important;
    margin: clamp(0px, 1vw, 20px) 0px !important;
}

.sq-player {
    width: 20% !important;
}

.sq-img {
    width: 7vw !important;
    height: 7vw !important;
}

.sq-p {
    font-size: clamp(8px, 2vw, 15px) !important;
}
}

@media only screen and (max-width: 1035px) {
  .gruppetable-el-navn {
    width: 250px !important;
  }
  .gruppetable-navn {
    width: 250px !important;
  }
}

#kuponRev {
  visibility: hidden;
}

@media only screen and (min-width: 1020px) {
  .kupon-min {
    top: 210px !important;
  }
}

@media only screen and (max-width: 1020px) {
  .stage-kupon {
    position: fixed !important;
    bottom: 0px !important;
    right: 30px !important;
    top: inherit !important;
    z-index: 11 !important;
  }
  .kupon-top2 {
    margin-top: 0px !important;
  }
  #kuponRev {
    visibility: visible;
  }
  .match-kupon-knap {
    display: flex !important;
  }
  .name-container {
    display: none !important;
  }
  .exp-container {
    display: none !important;
  }
  .stage-main {
    width: 95% !important;
  }
  .stage-main-container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }
  .gruppespil-section {
    width: 85% !important;
  }
  .nav-error {
    display: none !important;
  }
  .nav-link {
    display: none !important;
  }
  .nav-profile-btn {
    display: none !important;
  }
  .user-dropdown{
    display: none !important;
  }
}

@media only screen and (max-width: 943px) {
  .footer-sections {
    gap: 10vw !important;
  }
  .updates-con {
    width: 80% !important;
  }
}

@media only screen and (max-width: 870px) {
  .footer-sections {
    gap: 10vw !important;
  }
}

@media only screen and (max-width: 760px) {
  #inviteInfo {
    display: none !important;
  }
  .billet-element {
    width: clamp(300px, 60vw, 500px) !important;
  }
  .plans-con {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 700px) {
  .footer-sections {
    flex-direction: column !important;
  }
  #inviteInfo {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .stage-kampe-right {
    display: none !important;
  }
  .match-yder {
    display: none !important;
  }
  .match-yder-element {
    padding: 20px 0px !important;
  }
  .stage-kampe-odds {
    display: none !important;
  }
  .stage-kampe-hold {
    width: 100% !important;
  }
  .gruppespil-section {
    width: 100% !important;
  }
  #faqside {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .noti-main {
    padding: 50px 5% !important;
  }
  .team-trup-section {
    flex-direction: column !important;
  }
}





@media only screen and (max-width: 1410px) {
  .match-odds-container {
      width: 100% !important;
  }
  .match-odds-cont {
      width: 100% !important;
  }
}






@media only screen and (max-width: 1400px) {
  .gruppespil-div {
    max-width: 840px !important;
  }
}

@media only screen and (max-width: 1300px) {
  .section-price {
    padding-top: 80px !important;
  }
}

@media only screen and (max-width: 1250px) {
  .favorit-container-match {
    display: none !important;
  }
}

@media only screen and (max-width: 1133px) {
  .team-indhold-side {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 1095px) {
  .findComp {
    margin-top: -30px !important;
  }
  .height-fix {
    height: 0px !important;
  }
  .sticky-small {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    animation: stickTop 0.55s 1 !important;
  }
  .hero-help {
    margin-top: 100px !important;
  }
  .nav-link-container {
    display: none !important;
  }
  .find-wrapper {
    padding: 0px !important;
  }
  .stage-fix {
    display: none !important;
  }
  .nav-container-bottom {
    display: none !important;
  }
  .section-nyheder-kupon {
    display: none !important;
  }
  .nav-ham {
    display: block !important;
  }
  .nav-ham-ham {
    display: block !important;
  }
  .sidemenu-ham {
    display: block !important;
  }
  .fsection-elements {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .hero-figures {
    display: none !important;
  }
  .ny-window {
    display: none !important;
  }
  .nyheder-kupon {
    display: none !important;
  }
  .nav-btn-outline {
    margin-left: 0px !important;
  }
  .fsection-element {
    text-align: center !important;
    width: clamp(250px, 50vw, 500px);
    align-items: center;
    justify-content: center;
  }
  .section-nyheder-kupon {
    text-align: center !important;
  }
  .section-nyheder-table {
    text-align: center !important;
  }
  .ny-kupon-a {
    width: inherit !important;
  }
  .gruppespil-div {
    width: 85% !important;
  }
  .gruppetable-number2-el {
    display: none !important;
  }
  .gruppespil-container-2 {
    padding: 25px 5% !important;
  }
  .gruppetable-number22 {
    display: none !important;
  }
  .gruppespil-input-div {
    width: 60% !important;
}
}

@media only screen and (max-width: 1000px) {
  .gruppetable-number2 {
    display: none !important;
  }
  .gruppetable-number2-el2 {
    display: none !important;
  }
  .pages-parent {
    margin-top: -40px !important;
  }
  .kontakt-parent {
    display: none !important;
  }
}

@media only screen and (max-width: 910px) {
  .gruppetable-navn2-el {
    width: 250px !important;
  }
  .gruppetable-navn2 {
    width: 250px !important;
  }
  .fsection-element {
    box-shadow: none !important;
    padding: 30px 0px !important;
  }
  .gruppetable-kapital {
    width: 160px !important;
  }
}

@media only screen and (max-width: 835px) {
  .stage-indstillinger-sidebar {
    display: none !important;
  }
  .stage-indstillinger-main {
    padding: 0px !important;
  }
  .gruppespil-info-element {
    padding-bottom: 10px !important;
  }
  .stage-main-article-container {
    padding: 100px 5% !important;
  }
  .find-div {
    width: 85% !important;
  }
  .stageopret-container {
    padding: 25px 5% !important;
  }
  .header-fix {
    height: 50px !important;
  }
}

@media only screen and (max-width: 785px) {
  .tabel-form {
    display: none !important;
  }
}

@media only screen and (max-width: 730px) {
  .noti-section-success {
    flex-direction: column !important;
  }
  .noti-section {
    flex-direction: column !important;
  }
  .noti-section-error {
    flex-direction: column !important;
  }
  .gruppespil-opret-own {
    display: none !important;
  }
  .gruppetable-el-navn {
    width: 150px !important;
  }
  .gruppetable-navn {
    width: 150px !important;
  }
  .t5 {
    display: none !important;
  }
  .t6 {
    display: none !important;
  }
  .forside-black-h1 {
    font-size: 44px !important;
    padding-bottom: 5px !important;
  }
  .forside-black-h3 {
    font-size: 14px !important;
  }
  .forside-black-divider {
    width: 45px !important;
  }
  .forside-black-p {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 700px) {
  .plans-con {
    flex-direction: column;
  }
  .section-price {
    padding-top: 160px !important;
  }
  .plan-element {
    width: clamp(237px, 45vw, 400px);
  }
  .plan-funktioner {
    display: none !important;
  }
  .main-btn-outline {
    margin-left: 0px !important;
    display: block !important;
    margin-top: 10px !important;
    width: clamp(212px, 50vw, 350px) !important;
  }
  .main-btn-login {
    width: clamp(212px, 50vw, 350px) !important;
  }
  .match-bet {
    padding: 25px 20px !important;
  }
  .match-odds-offer {
    flex-direction: column !important;
  }
  .match-odds-offer-element-3 {
    width: 100% !important;
  }
  .match-odds-offer-element-2 {
    width: 100% !important;
  }
  .velkommen-container {
    padding: 30px !important;
    width: 80% !important;
  }
}

@media only screen and (max-width: 650px) {
  #t1 {
    display: none !important;
  }
  #t2 {
    display: none !important;
  }
  .gruppespil-div {
    width: 90% !important;
  }
  .t2 {
    display: none !important;
  }
  .t3 {
    display: none !important;
  }
  .t4 {
    display: none !important;
  }
  .tabel-top-right {
    gap: 0px !important;
  }
  .tabel-4 {
    width: 35px !important;
  }
}

@media only screen and (max-width: 616px) {
  .gruppetable-navn2-el {
    width: 52% !important;
  }
  .gruppetable-navn2 {
    width: 50% !important;
  }
  .gruppetable-kapital2 {
    width: 70px !important;
  }
  .gruppetable-kapital2-el {
    width: 70px !important;
  }
  .nav-in {
    display: none !important;
  }
  .nav-in-before {
    display: none !important;
  }
  .nav-btn-default {
    margin-left: 0px !important;
  }
  .signup-popup {
    padding: 15px 6vw !important;
    padding-bottom: 40px !important;
  }
  .find-div {
    width: 95% !important;
    padding: 20px 30px !important;
  }
}

@media only screen and (max-width: 550px) {
  #t3 {
    display: none !important;
  }
  .match-img-con {
    width: 65px !important;
    height: 65px !important;
    border: 3px var(--surface) solid !important;
  }
  .match-info {
    padding: 0px 10px !important;
  }
  .sidemenu-click {
    top: 65px !important;
  }
  .sidemenu-fill {
    margin-top: 65px !important;
  }
  .team-team {
    padding: 30px 10px !important;
  }
  .team-team .match-title-text {
    width: 300px !important;
  }
  .nav-hits {
    top: 60px !important;
  }
  .match-h1 {
    font-size: 16px !important;
  }
  .match-title {
    padding: 30px 0px !important;
  }
  .match-stilling-p1 {
    font-size: 12px !important;
  }
  .match-stilling-box {
    font-size: 12px !important;
    padding: 3px 9px !important
  }
  .match-info-half-2 {
    margin-bottom: 50px !important;
  }
  .match-odds-nav {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .match-indhold {
    padding-bottom: 15px !important;
  }
  .back-btn {
    margin-left: 10px !important;
  }
  .match-stilling-p {
    font-size: 30px !important;
  }
  .match-p {
    font-size: 11px !important;
  }
  .inf-con-1 {
    flex-direction: column !important;
  }
  .nav-bar-stage {
    background-color: var(--black) !important;
  }
  .side-nav-container-top-stage {
    background-color: var(--black) !important;
  }
  .stage-main-article-container {
    padding: 0px !important;
  }
  .match-info-con {
    padding: 0px 10px !important;
  }
  .match-info {
    border-radius: 0px !important;
  }
  .inf-element {
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  .inf-top {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
}

@media only screen and (max-width: 540px) {
  .hit-elem {
    padding: 10px 5% !important;
  }
  .header-inline {
    display: flex !important;
  }
  .md-container {
    display: flex !important;
  }
  .ab-left {
    display: none !important;
  }
  .middle-logo {
    display: none !important;
  }
  .logo-erstat {
    display: block !important;
  }
  .nav-container-top-stage {
    height: 65px !important;
  }
  .setup-container {
    padding: 50px 7% !important;
    margin-top: 0px !important;
  }
  .setup-p-fat {
    font-size: 13px !important;
  }
  .setup-p {
    font-size: 13px !important;
  }
  .setup-gruppespil-icon {
    width: 10px !important;
  }
  .setup-h1 {
    font-size: 24px !important;
    padding-bottom: 18px !important;
  }
  .setup-hits {
    padding-top: 0px !important;
  }
  .setup-inline {
    gap: 5px !important;
  }
  .setup-btn {
    padding: 12px 15px !important;
    font-size: 12px !important;
  }
  .nav-btn-outline {
    padding: 12px 15px !important;
    font-size: 12px !important;
  }
  .setup-h2 {
    font-size: 10px !important;
  }
  .setup-divider {
    width: 20px !important;
  }
  .setup-input {
    padding: 12px 15px !important;
    font-size: 12px !important;
    border-radius: 4px !important;
  }
  .faq-input {
    padding: 12px 15px !important;
    font-size: 12px !important;
    border-radius: 4px !important;
  }
  .forside-black-h1 {
    font-size: 36px !important;
    padding-bottom: 0px !important;
  }
  .forside-black-h3 {
    font-size: 13px !important;
  }
  .forside-black-divider {
    width: 30px !important;
  }
  .forside-black-p {
    font-size: 13px !important;
  }
  .forside-black-section .forside-figure {
    display: none !important;
  }
  .forside-black-section .info-figure {
    display: block !important;
  }
  .forside-black-section {
    padding: 50px clamp(40px, 4vw, 100px) !important;
  }
  .stage-match {
    padding: 0px !important;
  }
  .sidemenu-search-small {
    display: flex !important;
  }
  .stage-kampe-top {
    padding-left: 0px !important;
  }
  .kupon-top {
    top: inherit !important;
    margin-top: 0px !important;
  }
  .hits-close {
    position: absolute;
    right: 30px;
    top: calc((41.5px - 27px) / 2);
  }
  .search-el {
    padding: 0px 2% !important;
  }
  .gruppetable-span {
    display: none !important;
  }
  .gruppetable-kapital {
    width: 100px !important;
  }
  .hero-help {
    margin-top: 100px !important;
  }
  .match-title-text {
    width: 100px !important;
  }
  .team-team .match-title-text {
    width: 300px !important;
  }
  .nav-ham-se {
    display: block !important;
  }
  .section-offer {
    text-align: center !important;
  }
  .plan-container {
    text-align: center !important;
  }
  .pages-parent {
    margin-top: -10px !important;
  }
  .nav-flag-section {
    display: none !important;
  }
  .nav-short-search {
    display: none !important;
  }
  .nav-container-top-stage {
    justify-content: space-between !important;
  }
  .stage-indstillinger-main {
    padding-left: 20px !important;
  }
  .findComp {
    margin-top: 0px !important;
  }
  .nav-container-bottom {
    display: none !important;
  }
  .stage-fix {
    height: 0px !important;
  }
  .stage-main-article-container {
    padding-top: 15px !important;
  }
  .nav-flag-container {
    display: none !important;
  }
  .stage-main-container {
    padding: 55px 0px !important;
  }
  .stage-main {
    padding-right: 0px !important;
  }
  .stage-kampe-right {
    display: flex !important;
  }
  .stage-kampe-odds {
    display: flex !important;
  }
  .stage-kampe-odds-btn {
    gap: 5px !important;
    width: inherit !important;
  }
  .odd-data-p {
    font-size: 11px !important;
  }
  .odd-data-h1 {
    font-size: 11px !important;
  }
  .stage-kampe-odds {
    min-width: 190px !important;
  }
  .stage-kampe-h1 {
    padding-left: 15px !important;
  }
  .stage-match .stage-indhold-down .stage-kampe-hold .stage-kampe-hold-div {
    width: 60% !important;
  }
  .stage-match {
    height: inherit !important;
  }
  .live-con {
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
  }
  #mestspillede {
    max-height: 300px !important;
    margin-left: 15px !important;
  }
  #mestspillede .stage-match {
    height: inherit !important;
    padding-bottom: 10px !important;
    border: 0px !important;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.08);
  }
  #mestspillede .stage-kampe ul {
    display: flex !important;
    gap: 15px !important;
    align-items: center !important;
    flex-direction: row !important;
  }
  #mestspillede {
    display: flex !important;
    gap: 15px !important;
    align-items: center !important;
    flex-direction: row !important;
    overflow-x: auto !important;
    overflow-y: visible;
    padding-top: 15px !important;
  }
  .stage-kampe-h1 {
    padding-bottom: 0px !important;
  }
  #mestspillede .stage-kampe li {
    width: 80% !important;
    min-width: 250px !important;
  }
  #mestspillede .stage-kampe li .stage-indhold-down {
    flex-direction: column !important;
  }
  .stage-indhold-down {
    flex-direction: column !important;
  }
  .stage-kampe-odds {
    width: 100% !important;
    max-width: none !important;
    gap: 20px !important;
    background-color: var(--stageSurface);
    padding-bottom: 10px !important;
    padding-top: 10px !important;
  }
  .match-kupon {
    width: 100% !important;
    right: 0px !important;
  }
  .stage-kupon {
    width: 100% !important;
    right: 0px !important;
    max-width: 100% !important;
    bottom: 0px !important;
  }
  .kupon-p {
    padding-bottom: 0px !important;
  }
  .kupon-type-element {
    padding: 10px 0px !important;
  }
  .match-kupon-ul {
    max-height: 300px !important;
  }
  .gruppespil-container {
    padding: 35px 0px !important;
  }
  .gruppespil-container-2 {
    padding: 25px 0px !important;
  }
}

.header-buttons {
  display: inline-flex;
  justify-content: right;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 500px) {
  .info-figure {
    transform: scale(0.7) !important;
    right: -50px !important;
    bottom: -15px !important;
  }
  .updates-con {
    width: 90% !important;
    padding: 25px 40px  !important;
  }
}

@media only screen and (max-width: 450px) {
  .gruppespil3-btn {
    display: none !important;
  }
  #faq-top {
    display: none !important;
  }
  #faq-top2 {
    background-color: transparent !important;
    padding-top: 0px !important;
    min-height: 150px !important;
    padding-bottom: 100px;
  }
  #faq-top2 .pages-h1 {
    color: var(--softBlack) !important;
  }
  #faq-top2 .pages-where .pages-where-h1 {
    color: var(--softBlack) !important;
  }
  #faq-top2 .pages-where .pages-where-h2 {
    color: var(--softBlack) !important;
  }
  #faq-top2 .pages-where .pages-where-splitter {
    background-color: var(--softBlack) !important;
  }
  .nav-container-mid {
    justify-content: flex-start !important;
    gap: 5px !important;
  }
  .nav-scrolled .nav-container-fix .nav-container-mid {
    gap: 5px !important;
  }
}

@media only screen and (max-width: 445px) {
  .gruppespil-btn {
    margin-left: 0px !important;
    display: block !important;
  }
  .login-popup {
    padding: 50px 30px !important;
  }
  .header-buttons .nav-btn-outline {
    display: none !important;
  }
  .hero-help{
    width: 100% !important;
    margin-top: 50px !important;
  }
  .help-container {
    border-radius: 0px !important;
  }
}

@media only screen and (max-width: 430px) {
  .gruppespil-section {
    padding: 20px 7vw !important;
  }
  .info-figure {
    right: -100px !important;
    bottom: -20px !important;
  }
  .match-info-half-2 {
    padding: 5px !important;
  }
  .footer-section-nav {
    gap: 25px !important;
  }
}

@media only screen and (max-width: 370px) {
  .updates-con {
    width: 95% !important;
  }
}

@media only screen and (max-width: 360px) {
  .header-buttons {
    display: none !important;
  }
}

@media only screen and (max-width: 340px) {
  .stage-kampe-hold-div {
    width: 100% !important;
  }
  .info-figure {
    right: -140px !important;
    bottom: -20px !important;
  }
}